body {
	margin: 0 0;
}

:root {
	--border-color: rgba(55,143,37, 0.5);
}

#header p{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1.8em;
	color: white;
}

#loginform {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: inline-flex;
	background: #7bd17b;
	box-shadow: 0em 0em 1.5em;
	padding: 2em 0.8em 0.6em;
	border-radius: 0.5em;
}

#loginform input[type=text], input[type=password] {
	border: 0.05em solid var(--border-color);
	margin: 0 auto;
	display: block;
	width: 15em;
	font-size: 1em;
	text-align: center;
	outline: none;
	padding: 5px 10px;
}

#loginbtn{
	margin: 0 auto;
	display: block;
	width: 8em;
	height: 2em;
	font-size: 1.2em;
	color: white;
	background: var(--border-color);
	border: 0;
	outline: none;
}

#loginbtn:hover{
	background: #2bb52b;
}


#alerts {
	position: absolute;
	left: 50%;
	top: 70%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	visibility: hidden;
	background: #ffc0cb;
	margin: 0 auto;
	text-align: center;
	color: red;
	padding: 0.2em;
	font-size: 0.9em;
	width: 15em;
}


#version {
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	color: grey;
	z-index: 0;
}
