* {
	font-family: Helvetica;
	font-
	
}

:root {
	--main-bg-color: #f0f0f0;
}

body {
	margin: 0;
	background: var(--main-bg-color);
}

#header {
	background: #a0dea0;
	height: 3em;
	width: 100%;
}

#header p{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: white;
	text-shadow: -1px -1px 0 green,
				1px -1px 0 green,
				-1px 1px 0 green,
				1px 1px 0 green;
}

#triangle {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
	border-bottom: 5em solid var(--main-bg-color);
}

#logo {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../img/logo.png);
	background-size: 100% 100%;
	width: 10em;
	height: 6.5em;
}

#loginform {
	border: 0.1em solid green;
	margin: 15% auto;
	width: 12em;
	background: #56c456;
	box-shadow: 0em 0em 1.5em;
	padding: 0.5em;
	z-index: 2;
}
#loginform label {
	font-size: 1em;
	padding-left: 0.5em;
	color: #333333; 
}

#loginform input {
	border: 0.05em solid green;
	margin: 0 auto;
	display: block;
	width: 7em;
	font-size: 1.5em;
	text-align: center;
	outline: none;
}

#loginform button{
	margin: 0 auto;
	display: block;
	width: 8em;
	height: 2em;
	font-size: 1.2em;
	color: white;
	background: green;
	border: 0;
	outline: none;
}

#loginform button:hover{
	background: #2bb52b;
}

#version {
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	color: grey;
	z-index: 0;
}
