* {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

:root {
	--main-bg-color: #f0f0f0;
}

#header {
	display: table;
	background: rgb(70,184,47);
	height: 3em;
	width: 100%;
	border-bottom: 1px solid rgba(55,143,37, 0.5);
	z-index:998;
}

#triangle {
	position: absolute;
	top: 0.6em;
	left: 2.5em;
	width: 0;
	height: 0;
	border-left: 2.5em solid transparent;
	border-right: 2.5em solid transparent;
	border-bottom: 2.5em solid var(--main-bg-color);
	z-index:996;
}

#logo {
	position: absolute;
	top: 0.8em;
	left: 2.5em;
	background-image: url(../img/logo.png);
	background-size: 100% 100%;
	width: 5em;
	height: 3.2em;
	z-index:997;
}

@media print{

	#header {
		display: none;
	}
	
	#triangle {
		display : none;
	}
	
}
